.project-top__wrapper {
	display: flex;
	justify-content: space-between;
}

.projec-top__edit-button {
	color: white;
    font-size: 2.5rem;
    background: #00bd62;
    padding: .1rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
    	color: #000;
    	background: #f74;
    }
}

.project-top__title {
	color: #3c3c3c;
	margin-bottom: 1rem;
	h1 {
		font-size: 2.9rem;
	}
}

.project-layout, .profiles-wrapper {
	background: #eee;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.project-top__description-text, .project-top__skills-text {
	font-size: 2.5rem;
	color: #3c3c3c;
	margin-top: 1rem;
}

.project-top__description {
	font-size: 1.9rem;
}

.project-top__skills {
	font-size: 2rem;
	color: #e74;
}